lap
loguru
norfair
#onnxruntime-gpu==1.12.1
opencv-python
scipy
pyyaml
easydict
gdown
pandas
tabulate
typing-extensions==4.7.1
wheel
numpy==1.23.0
asone-ocr
motpy
ultralytics==8.0.109
torchreid==0.2.5
tensorboard
protobuf==3.20.3
# requirements for coreml
onnxruntime
coremltools
